<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601}{GMT},%level,[%t],%c{1},%msg%n"/>
		</Console>
		<RollingFile name="File" fileName="C:/Temp/Logs/WFO/wfo.csv" filePattern="C:/Temp/Logs/WFO/wfo-%d{yyyy-MM-dd}.csv">
			<PatternLayout>
				<pattern>%d{ISO8601}{GMT},%level,[%t],%c{1},%msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.web" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Logger>
		<Logger name="ca.datamagic.wfo" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Logger>
	</Loggers>
</Configuration>